#logo{
  margin-top: 0%;

  width: 120px;

  height: 60px;
}
.donates{float: right;
}
#donate{
  background-color: rgb(153, 153, 53);
  width: 150px;
  height: 60px;
  border-radius: 100px;
}
h1,h2,h3{
  color: blue;

  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
  text-align: center;
}
body{
  margin: 0px;
  background-color: white;
} 



@media (max-width:774px){
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;}

  .hello{
    margin-top: 0%;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
   background-color: aqua;}
  
 
    
  .homediv{
      
      max-height: 350px;
    }
  }
  
    
  
 

  

.responsive{
  display: flex;
  flex-wrap: wrap;
  width: 100%;

}
.responsive a:not(:first-child,:last-child){
  margin-bottom: 10px;
  color: black;
  width: 100%;
  height: 30px;
  background-color: rgba(0, 136, 255, 0.455);


}



  .topnav{
    width:100%;
    height:70px;
    background-color: rgb(0, 191, 255);
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .topnav a{
    width:30px;
    height:40px;
    font-size: 30px;
    text-transform: capitalize;
    text-decoration: none;
    color: black;
    margin-top: 10px;

  }


.homediv{
margin-top: 0px;
width: 90%;
height: 600px;
overflow: hidden;
margin-left: auto;
margin-right:auto;


}
.homeimg{

width: 100%;
height: auto;
object-fit: cover;

 }






/* about page*/
.mission{
margin-top: 0%;
  font-size: 20px;
  width: 30%;
  color: rgb(30, 22, 148);
  float: right;
  background-color: rgb(0, 255, 221);
}
.hello{
  overflow: hidden;
  padding-left:10px;
  float: left;
  font-family:   Arial, sans-serif;
  font-size: 20px;
  background-color: aqua;
  border-radius: 30px;
 
max-width: 430px;
  
}
/* swap slide image*/
.mySlides {display: none;}
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active1 {
  background-color: #717171;
}


/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

